huepy
docker~=4.3.1
numpy~=1.19.4
pexpect~=4.8.0
terminaltables~=3.1.0
docopt~=0.6.2
pandas~=1.1.4
pymongo~=3.11.1
tables
python-dateutil~=2.8.1
matplotlib~=3.3.3
PyMySQL~=0.10.1
setuptools~=50.3.2
Faker~=4.17.0
requests~=2.25.0
urllib3~=1.26.2
CouchDB~=1.2
pypcapkit~=0.15.5
scapy~=2.4.4
wget~=3.2
filesplit~=3.0.2
tqdm==4.62.3
nest-asyncio==1.5.1
gensim==4.1.2
torch==1.9.1
treelib==1.6.1
pyshark==0.4.3
networkx==2.6.3
pydot==1.4.2
MiniSom==2.2.9
scikit-learn==1.0.2
pytest==7.1.2
